<form (ngSubmit)="handleSubmitForm(form)" #form="ngForm">
    <div class="formGroup">
        <label for="username">Username: </label><br>
        <input type="text" name="username" id="username" placeholder="Enter username" [(ngModel)]="info.username" required>
        <p class="error" *ngIf="form.controls.username?.errors && form.controls.username?.touched">This field is required!</p>
    </div>
    <div class="formGroup">
        <label for="password">Password: </label><br>
        <input type="password" name="password" id="password" placeholder="Enter password" [(ngModel)]="info.password" required>
    </div>
    <div class="formGroup">
        <label for="gender">Gender: </label><br>
        <input type="radio" name="gender" id="gender" [(ngModel)]="info.gender" value="male"><span>Male</span>
        <input type="radio" name="gender" id="gender" [(ngModel)]="info.gender" value="female"><span>Female</span>
    </div>
    <div class="formGroup">
        <label for="hobbies">Hobbies: </label><br>
        <select name="hobbies" id="hobbies" [(ngModel)]="info.hobbies">
            <option value="book">Book</option>
            <option value="sleep">Sleep</option>
        </select>
    </div>
    <div class="formGroup">
        <input type="submit" id="submit" value="Submit" [disabled]="form.invalid">
    </div>
</form>
<div>
    {{ info | json }}
</div>