<div [formGroup]="formInfo">
    <div formArrayName="infoArr" class="formContainer">
        <div *ngFor="let infoFormItem of infoArr().controls; let infoArrIndex = index" class="formSecondary">
            <h2>Form {{ infoArrIndex }}: </h2>
            <div [formGroupName]="infoArrIndex">
                <div class="formGroup">
                    <label for="name{{ infoArrIndex }}">Name: </label><br>
                    <input type="text" id="name{{ infoArrIndex }}" formControlName="name">
                </div>
                <div class="formGroup">
                    <label for="age{{ infoArrIndex }}">Age: </label><br>
                    <input type="text" id="age{{ infoArrIndex }}" formControlName="age">
                </div>
                <div class="formArray" formArrayName="hobbies" class="listHobbies">
                    <h3>Hobbies: </h3>
                    <ng-container *ngFor="let hobbyForm of hobbies(infoArrIndex).controls; let hobbyIndex = index">
                        <div [formGroupName]="hobbyIndex">
                            <label for="">Hobby {{ hobbyIndex }}:</label>
                            <div class="formGroup">
                                <input type="text" id="hobbyName{{ infoArrIndex }}_{{ hobbyIndex }}" formControlName="hobbyName">
                            </div>
                        </div>
                    </ng-container>
                    <button type="button" (click)="addHobby(infoArrIndex)">Add hobby</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" (click)="addInfoArr()">Add</button>
    <button (click)="handleSubmit()">Submit</button>
</div>